table {
  width: 100%;
}

td.mat-cell {
 padding: 16px 16px 16px 16px;

}
th{
  background-color:rgba(245, 173, 106, 0.5);
  color: darkblue;
  font-size: 15px;
}

tr.mat-row {
   /* Old browsers */
}
::ng-deep .custom-tooltip  {
  font-size:14px;
}