<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Mon Profile</h4>
                      <p class="card-category">Vos Informations </p>
                  </div>
                  <div class="card-body" *ngFor="let user of user">
                    <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Full Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{user.fullname}}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{user.email}}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Username</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{user.username}}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Matricule</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{user.matirucule}}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Date d'integration</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{user.dateIntegration}}
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


