<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title ">AUTO EVALUATION</h4>
                            <p class="card-category"> Evaluation des objectifs individuel</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <th>     
                                            #
                                        </th>
                                        <th>     
                                            Designation
                                        </th>
                                        <th>
                                            AutoEvaluation
                                        </th>
                                        <th>
                                            Commentaires
                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let objectif of objectifs; let i =index">
                                            <td>
                                                {{i+1}}
                                            </td>
                                            <td>
                                                {{objectif.designation}}
                                            </td>
                                            <td>
                                                    <select (change)="change(objectif)" class="form-control" name={{objectif.autoEvaluation}}{{objectif.designation}} [(ngModel)]="objectif.autoEvaluation">
                                                        <option value="CURRENT" selected>
                                                            {{objectif.autoEvaluation}}</option>
                                                        <option value="Performance ameliore">Performance
                                                            ameliore</option>
                                                        <option value="Zone de conformite">Zone de
                                                            conformite</option>
                                                        <option value="Objectif dépassé">Objectif
                                                            dépassé</option>
                                                        <option value="Performance exceptionnelle">
                                                            Performance exceptionnelle </option>
                                                    </select>
                                            </td>
                                            <td>
                                                    <textarea (change)="change(objectif)" class="form-control" placeholder="commentaire" value={{objectif.commentaire}} name={{objectif.commentaire}}{{distinction}} [(ngModel)]="objectif.commentaire">
                                                     </textarea>
                                                </td>
                                        
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div (click)="autoEvaluate()" class="btn btn-success">
            Submit
        </div>