table {
    width: 100%;
    border-style: ridge;
    border: 1;
    border-collapse: collapse;
}
tr { 
    border: dashed;
    border-width: 1px 0;
  }
th{
    color: brown;
    background-color: cadetblue;
    font-size: 15px;
    padding-bottom: 10px;
}
td{
    color: darkblue;
    font-size: 15px;
}

p{
    color: darkblue;
    font-size: 15px;
}