table {
    margin-top: 10px;
    width: 100%;
  }
  
  td {
   padding: 16px 16px 16px 16px;
   border-bottom: 2px dotted gray;
   color: black;
  
  }
  th{
    background-color:darkseagreen;
    color: white;
    font-size: 15px;
  }
  
