table {
    width: 100%;
  }
  
  td.mat-cell {
   padding: 16px 16px 16px 16px;
  
  }
  th{
    background-color:darkseagreen;
    color: white;
    font-size: 15px;
  }
  
  tr.mat-row {
     /* Old browsers */
  }
  .mat-from-field select {
  //  width: 700px;
  }
  mat-header-cell{
    background-color:darkseagreen;
    color: white;
    font-size: 15px;
  }
  mat-cell{
    padding: 16px 16px 16px 16px;
   
   }